/*----------------------------------------
------------ Глобальные стили ------------
----------------------------------------*/

/* Кастомные свойства */
:root {
  --theme-color-1: #fff;

  --theme-color-2: #81b3d2;
  --theme-color-2-2: #669ec0;
  --theme-color-2-3: #5496bd;

  --theme-color-3: #766357;
  --theme-color-3-2: #604e43;
  --theme-color-3-3: #503e33;

  --bg-color: #f2f2f2;

  --main-font-family: 'PT Sans', 'Arial', sans-serif;
}

/* Запретить картинкам
выпадать за границы
своего блока с
сохранением пропорций */
img {
  display: block;

  max-width: 100%;
  height: auto;
}

/* Доступно скрыть */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Адекватный расчет блоков */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}

/* Сброс браузерных умолчаний */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--bg-color);

  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  /* всегда отображать скроллбар */
  overflow-y: scroll;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--theme-color-2);
  outline: none;
  
}

a:active:not(.active) {
  color: black;
  opacity: .3;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: var(--theme-color-1);
  box-shadow: 0 0 20px #bbb;
  
  /* Прижать футер вниз вьюпорта */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-footer {
  margin-top: auto;
}


/*------------- Кнопки -------------*/
.btn {
  display: inline-block;
  
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  text-transform: inherit;
  
  border: none;
  cursor: pointer;

  color: var(--theme-color-1);
  background-color: var(--theme-color-2);
}

.btn:hover,
.btn:focus {
  background-color: var(--theme-color-2-2);
  outline: none;
}

.btn:active {
  background-color: var(--theme-color-2-3);
}

.btn-2 {
  background-color: var(--theme-color-3);
}

.btn-2:hover,
.btn-2:focus {
  background-color: var(--theme-color-3-2);
  outline: none;
}

.btn-2:active {
  background-color: var(--theme-color-3-3);
}


/*-----------------------------------
--------------- Шапка ---------------
-----------------------------------*/

/* .main-header {
  outline: 1px dashed blue;
} */

.main-navigation > ul {
  position: relative;
  padding: 0 37px;
  margin: 0;

  font-weight: bold;
  list-style-type: none;

  display: flex;
  justify-content: space-between;

  background-color: var(--theme-color-1);
}

.main-navigation li {
  text-align: center;
  min-width: 165px;
}

/* Пространство для логотипа */
.main-navigation li:nth-child(3) {
  margin-right: 138px;
}
.main-navigation li:nth-child(4) {
  margin-left: 138px;
}

/* Логотип в навигации */
.main-navigation ul > li:first-child {
  width: 138px;
  height: 70px;

  order: 3;
  
  position: absolute;
  left: calc(50% - 82.5px);
  top: -15px;
}

.main-navigation .logo {
  display: block;
  line-height: 26px;
  text-decoration: none;
}

.main-navigation .logo:active {
  opacity: 1;
}

.main-navigation li {
  margin: 15px 0;
}

.main-navigation img {
  margin: 0 auto;
  display: unset;
}

.main-navigation .active {
  user-select: none;
  color: var(--theme-color-3);
}

/* Отступ под основной фон на главной */
.index-page-container .main-navigation > ul {
  height: 51px;
  margin-bottom: 512px;
}
/* Основной фон на главной */
.index-page-container {
  background:
    url(../img/button-shape.png) 50% 506px no-repeat scroll,
    url(../img/text-because....png) 50% 405px no-repeat scroll,
    url(../img/text-sedona.png) 50% 270px no-repeat scroll,
    url(../img/dashes.png) 50% 200px no-repeat scroll,
    url(../img/text-to-the-gorgeous.png) 50% 188px no-repeat scroll,
    url(../img/text-welcome.png) 50% 130px no-repeat scroll,
    url(../img/bg-photo.jpg) 0 0 no-repeat scroll;

  background-color: var(--theme-color-1);
}



/*-----------------------------------
-------- Основное содержание --------
-----------------------------------*/

/*------------ Слоган ------------*/

.slogan {
  min-height: 212px;
  padding-top: 56px;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  user-select: none;
  
  background-color: var(--theme-color-1);
}

.slogan p {
  padding: 0;
  margin: 0;
  margin-top: 27px;
}

.initiate {
  margin-top: 32px;
  
  font-size: 14px;
  font-weight: normal;
  
  color: #333;
}


/*-------- Блок преимуществ --------*/

.features {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  list-style: none;
  user-select: none;
}

.features li {
  text-align: center;
}

.features li:not(.services) {
  height: 255px;
  overflow: hidden;
}

.features h3 {
  font-size: 21px;
}

.features p:not(.info p) {
  color: #333;
}

.features .number {
  display: block;
}

.features > .major {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--theme-color-2);
  color: var(--theme-color-1);
}

.features > .major > .info {
  padding: 30px 45px;
}

.features > .major-second {
  flex-direction: row-reverse;
}

.features > .major img {
  width: 800px;
  margin-top: -80px;
}

.features .major .info {
  width: calc(100% / 3);
}

.features > .minor-wrap > ul {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: inherit;
}

.features .minor {
  padding: 30px 60px;
  width: 400px;

  background-color: #eee;
}

.features .services ul {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.features > .services li {
  padding: 60px;
  width: calc(100% / 3);
  height: 330px;
}

.features svg {
  width: 76px;
  height: 76px;
}


/*---------- Поиск жилья ----------*/

.inn-search {
  position: relative;

  height: 294px;

  text-align: center;
  user-select: none;

  border-top: 1px solid transparent;
}

.inn-search > .title {
  margin: 0;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 24px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.inn-search > .offer {
  margin: 0;
  padding: 0;

  line-height: 24px;
}

.inn-search > .btn-search {
  position: absolute;
  bottom: 0;
  left: calc(50% - 293px);

  width: 570px;
  height: 87px;

  padding: 31px;

  font-size: 21px;
  line-height: 26px;
}

.inn-search > .btn-search:hover,
.inn-search > .btn-search:focus {
  color: var(--theme-color-1);
  background-color: var(--theme-color-3-2);
}

.inn-search > .btn-search:active {
  color: var(--theme-color-1);
  background-color: var(--theme-color-3-3);
  opacity: 1;
}


/*------- Карта -------*/

.map {
  position: relative;
  height: 593px;
}

.live-map {
  position: absolute;
  top: 0;
}


/*---- Пользовательский фильтр ----*/

.user-select {
  height: 216px;
  display: flex;

  padding: 25px 73px;

  font-size: 16px;
  user-select: none;
  
  color: var(--theme-color-1);
  background: url(../img/bg-blur.jpg) 50% 20% no-repeat;
  background-color: var(--theme-color-2);
}


.user-select > *,
.user-select .price-ranging {
  padding: 0;
  margin: 0;
  border: none;
}

.user-select .fieldset-wrap {
  display: flex;
  flex-direction: column;
}

.user-select .fieldset-wrap:not(.price-ranging) > * {
  width: 254px;
  padding-bottom: 28px;
}

.user-select legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.user-select > .right-column-wrap {
  margin-left: auto;
  text-align: center;
}

.user-select .price-ranging-wrap {
  position: relative;

  margin-bottom: 20px;
  width: 318px;
  height: 36px;

  display: flex;
  align-items: center;

  border: 2px solid var(--theme-color-1);
  border-radius: 2px;

  text-align: center;
}

.user-select .price-ranging-wrap::before {
  content: "";

  position: absolute;
  left: 156px;

  width: 2px;
  height: 22px;

  background-color: var(--theme-color-1);
}

.user-select .price-ranging legend {
  margin-bottom: 14px;
  text-align: left;
}

.user-select .price-ranging-wrap p {
  margin: 0;
  padding: 0;
  width: 50%;
}

.user-select .user-select-btn {
  width: 138px;
  height: 36px;

  font-family: inherit;
  text-transform: inherit;
  
  border: 2px solid var(--theme-color-1);
  border-radius: 2px;

  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

.user-select .user-select-btn:hover,
.user-select .user-select-btn:focus {
  background-color: var(--theme-color-1);
  color: black;
  outline: none;
}

.user-select .user-select-btn:active {
  /* opacity: .7; */
  color: var(--theme-color-1);
  background-color: var(--theme-color-2);
  /* background-color: transparent; */
}


/*----- Кастомные чекбоксы -----*/

.user-select label {
  position: relative;

  padding-left: 37px;

  user-select: none;
  cursor: pointer;
}

/* Чекбокс-индикатор */
.user-select input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  
  width: 20px;
  height: 20px;
  
  border: 2px solid rgba(255, 255, 255, .8);
  border-radius: 2px;
}
.user-select input[type="checkbox"]:hover + .checkbox-indicator,
.user-select input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: white;
}
.user-select input[type="checkbox"]:disabled + .checkbox-indicator {
  border-color: rgba(255, 255, 255, .4);
}

/* Метка чекбокс-индикатора */
.user-select input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  width: 18px;
  height: 4px;

  background-color: #eef1ef;
  transform: rotate(-45deg);
}
.user-select input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0px;

  width: 11px;
  height: 4px;

  background-color: #eef1ef;
  transform: rotate(45deg);
}
.user-select input[type="checkbox"]:hover:checked + .checkbox-indicator::before,
.user-select input[type="checkbox"]:focus:checked + .checkbox-indicator::before,
.user-select input[type="checkbox"]:hover:checked + .checkbox-indicator::after,
.user-select input[type="checkbox"]:focus:checked + .checkbox-indicator::after {
  background-color: white;
}


/*--- Слайдер ронжирования цены ---*/

.ranging-slider {
  position: relative;

  margin: 8px auto;
  margin-bottom: 30px;
  width: 318px;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.7);
}

.inner-bar {
  position: absolute;
  left: 0;
  right: 0;
  
  height: 2px;

  background-color: white;
}

.thumb-1,
.thumb-2 {
  position: absolute;
  top: -9px;
  z-index: 1;

  height: 20px;
  width: 20px;

  border-radius: 10px;
  background-color: var(--theme-color-1);
}

.thumb-1 {
  left: 0px;
}
.thumb-2 {
  left: 298px;
}

.thumb-1:hover,
.thumb-2:hover {
  cursor: pointer;
}

.thumb-1:hover::before,
.thumb-2:hover::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 3;

  width: 22px;
  height: 22px;

  border-radius: 11px;
  background-color: var(--theme-color-1);
}

.thumb-1::after,
.thumb-2::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 4;

  width: 4px;
  height: 4px;

  border-radius: 2px;
  background-color: #ababab;
}


/* Пользовательская сортировка */

.user-sort {
  height: 86px;
  padding: 30px 73px;
  
  display: flex;
  align-items: baseline;

  user-select: none;
  
  border-bottom: 1px solid grey;
}

.user-sort p,
.user-sort ul {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
}

.user-sort .search-amount {
  width: 135px;
  margin-right: 30px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.user-sort .sort-title {
  margin-right: 40px;
}

.user-sort ul {
  padding: 0;
  margin: 0;

  list-style: none;
  
  display: flex;
}

.user-sort li:not(:last-child) {
  margin-right: 34px;
}

.user-sort a.active {
  color: var(--theme-color-2);
  cursor: default;
}

.user-sort a:not(.active) {
  border-bottom: 1px dotted rgba(0, 0, 0, .7);
  color: rgba(0, 0, 0, .7);
}

.user-sort a:not(.active):hover,
.user-sort a:not(.active):focus {
  border-bottom-color: var(--theme-color-2);
  color: var(--theme-color-2);
}

.user-sort a:not(.active):active {
  border-bottom-color: none;
  color: black;
}

.sort-direction {
  margin-left: auto;
  width: 34px;

  align-self: center;

  display: flex;
  justify-content: space-between;
}

.user-sort .select-dir-btn {
  padding: 0;
  
  border: 5.5px solid transparent;
  border-top: 1px;
  border-bottom: 10px solid #cacaca;

  background-color: transparent;
}

.user-sort .select-dir-btn:not(.active) {
  cursor: pointer;
}

.user-sort .select-dir-btn:last-child {
  transform: rotate(180deg);
}

.user-sort .select-dir-btn.active {
  border-bottom-color: var(--theme-color-2);
}

.user-sort .select-dir-btn:hover,
.user-sort .select-dir-btn:focus {
  outline: none;
}

.user-sort .select-dir-btn:not(.active):hover,
.user-sort .select-dir-btn:not(.active):focus {
  border-bottom-color: black;
}

.user-sort .select-dir-btn:not(.active):active {
  border-bottom-color: var(--theme-color-2);
}


/*------- Результаты поиска -------*/

.room-card {
  display: flex;
}

.room-card {
  padding: 30px 73px;
  border-bottom: 1px solid grey;
}

.room-card .room-photo {
  margin-right: 30px;
}

.room-card .about {
  display: flex;
  flex-direction: column;
}

.room-card h3,
.room-card p {
  padding: 0;
  margin: 0;
}

.room-card .about h3 {
  margin-bottom: 12px;
  margin-top: -5px;

  font-size: 21px;
  line-height: 26px;
}

.room-card .type-and-price {
  display: flex;
}

.room-card .room-type {
  width: 110px;
  margin-right: 6px;
}

.room-card .room-user-select {
  margin-top: auto;
  display: flex;
}

.btn-room-result {
  padding: 0 17px;
  height: 28px;
}

.btn-room-result:not(:last-child) {
  margin-right: 6px;
}

.btn-room-result:first-child {
  width: 110px;
}

.btn-room-result:last-child {
  width: 142px;
}

.rating {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rating .stars-amount {
  height: 18px;

  display: flex;
  flex-direction: row-reverse;
}

.rating .star {
  width: 18px;
  height: 18px;
  background: url(../img/five-star.svg) 50% 50% no-repeat;
}

.rating .star:not(:last-child) {
  margin-left: 6px;
}

.rating .points {
  width: 110px;
  height: 28px;

  line-height: 28px;
  text-align: center;

  color: #666;
  background-color: #f2f2f2;
}




/*----------------------------------
-------------- Подвал --------------
----------------------------------*/

.main-footer {
  height: 120px;
  padding: 36px 73px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Подвал на главной
со сдвигом на карту */
.index-footer {
  /* Отобразить поверх карты */
  position: relative;

  /* Наложение на карту
  на всю величину */
  margin-top: -120px;

  /* Едва прозрачный фон (opacity
  сделает прозрачными также потомков,
  потому используется альфа-канал) */
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer > * {
  width: 240px;
  height: 48px;
}

.main-footer > .visit {
  padding: 10px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.main-footer > .visit a {
  margin-left: 55px;
}

.main-footer > .social {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  list-style: none;
}

.main-footer > .social a {
  width: 46px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--theme-color-2);
}

.main-footer > .social a {
  opacity: 1;
}

.main-footer > .social > li:not(:last-child) {
  margin-right: 6px;
}

.main-footer > .social a:hover,
.main-footer > .social a:focus {
  background-color: var(--theme-color-2-2);
}

.main-footer > .social a:active {
  background-color: var(--theme-color-2-3);
}

.main-footer > .social a:active svg {
  opacity: .3;
}

.main-footer > .dev-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-footer > .dev-link span {
  user-select: none;
}

.main-footer > .dev-link a {
  margin-right: 30px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-footer > .dev-link a:active {
  opacity: 1;
}

.main-footer > .dev-link svg {
  width: 115px;
  height: 42px;

  margin: 0 5px;
}

.main-footer > .dev-link a:hover rect,
.main-footer > .dev-link a:hover path,
.main-footer > .dev-link a:focus rect,
.main-footer > .dev-link a:focus path {
  fill: var(--theme-color-2);
}

.main-footer > .dev-link a:active rect,
.main-footer > .dev-link a:active path {
  fill: #bdbbbc;
}


/*---------------------------------*/
/*---- Всплывашка поиска жилья ----*/
/*---------------------------------*/

.inn-search-pop-up form {
  position: absolute;
  top: 293px;
  left: calc(50% - 293px);
  z-index: 100;

  width: 570px;
  margin: 0 auto;
  padding: 55px;

  display: flex;
  flex-direction: column;

  line-height: 26px;
  font-weight: bold;

  background-color: var(--theme-color-1);
}

.inn-search-pop-up .input-wrap {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inn-search-pop-up .input-wrap:nth-child(3) {
  margin-bottom: 55px;
}

.inn-search-pop-up .inner-wrap {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inn-search-pop-up .inner-wrap:last-child label {
  margin-left: 52px;
}

.inn-search-pop-up input {
  padding: 0 8px;

  font: inherit;
  text-transform: inherit;
  line-height: 38px;
  
  background-color: #f2f2f2;
  border: none;
}

.inn-search-pop-up input:hover,
.inn-search-pop-up input.arrow-hover {
  background-color: #ebebeb;
}

.inn-search-pop-up input:focus,
.inn-search-pop-up input.arrow-control {
  outline: none;

  background-color: white;
  box-shadow: inset 0 0 0 2px #ebebeb;
}

.inn-search-pop-up input:not(.guest-amount) {
  flex-grow: 1;
  max-width: 345px;
}

.inn-search-pop-up input.guest-amount {
  width: 115px;
  text-align: center;
}

.inn-search-pop-up-btn {
  flex-grow: 1;
  line-height: 58px;
}

.inn-search-pop-up-btn:active {
  color: #73a9c9;
}


/* Кастомная иконка календаря для Chromium */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  width: 20px;
  height: 20px;

  opacity: 1;
  color: rgba(0, 0, 0, 0);
  background: url(../img/calendar-icon.svg) 50% 50% no-repeat;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
  background-image: url(../img/calendar-icon-hover.svg);
}
input[type="date"]::-webkit-calendar-picker-indicator:active {
  background-image: url(../img/calendar-icon-active.svg);
}
/* Убрать внутренние маленькие стрелки */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}


/* Кастомизация инпутов даты */

.inn-search-pop-up input[type="date"] {
  
}









/* Кастомизация числовых инпутов */

/* Убрать встроенные стрелки-кнопки */
.inn-search-pop-up input.delete-default-arrows::-webkit-inner-spin-button {
  display: none;
}

.inn-search-pop-up .new-arrows {
  position: relative;
}

.inn-search-pop-up .arrow-left {
  position: absolute;
  left: 0;
  top: 0;

  width: 38px;
  height: 38px;

  cursor: pointer;
}

.inn-search-pop-up .arrow-right {
  position: absolute;
  right: 0;
  top: 0;

  width: 38px;
  height: 38px;

  cursor: pointer;
}

.inn-search-pop-up .arrow-left::before {
  content: "";

  position: absolute;
  left: 14px;
  top: 18px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.inn-search-pop-up .arrow-right::before {
  content: "";

  position: absolute;
  right: 14px;
  top: 18px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}
.inn-search-pop-up .arrow-right::after {
  content: "";

  position: absolute;
  right: 18px;
  top: 14px;

  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}
.inn-search-pop-up .arrow-left:hover::before, .inn-search-pop-up .arrow-right:hover::before {
  background-color: #000;
}
.inn-search-pop-up .arrow-right:hover::after {
  background-color: #000;
}
.inn-search-pop-up .arrow-left:active::before, .inn-search-pop-up .arrow-right:active::before {
  background-color: var(--theme-color-2);
}
.inn-search-pop-up .arrow-right:active::after {
  background-color: var(--theme-color-2);
}


/* Анимация формы и наложение слоев */

@keyframes to-slide-up {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-403px); }
}
@keyframes to-slide-down {
  0% { transform: translateY(-403px); }
  100% { transform: translateY(0px); }
}
/* Задвинуть форму (перед отключением) */
.inn-search-pop-up {
  animation-name: to-slide-up;
  animation-duration: .6s;
  animation-fill-mode: both;
}
/* Выдвинуть форму */
.inn-search-pop-up.show {
  animation-name: to-slide-down;
  animation-duration: .6s;
}
/* Подложка в блоке поиска гостиниц
   для перекрытия задвигающейся формы */
.inn-search .background-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  height: 294px;
  background-color: var(--theme-color-1);
}
/* Отобразить элементы поверх подложки */
.inn-search .title {
  position: relative;
  z-index: 2;
}
.inn-search .offer {
  position: relative;
  z-index: 2;
}
.inn-search .btn-search {
  z-index: 2;
}
/* Контекст наложения
   крупных блоков */
.features-and-services {
  position: relative;
  z-index: 3;
}
.inn-search {
  position: relative;
  z-index: 2;
}
.map {
  position: relative;
}