/*----------------------------------------
------------ Глобальные стили ------------
----------------------------------------*/

/* Кастомные свойства */
:root {
  --theme-color-1: #fff;

  --theme-color-2: #81b3d2;
  --theme-color-2-2: #669ec0;
  --theme-color-2-3: #5496bd;

  --theme-color-3: #766357;
  --theme-color-3-2: #604e43;
  --theme-color-3-3: #503e33;

  --bg-color: #f2f2f2;

  --main-font-family: 'PT Sans', 'Arial', sans-serif;
}

/* Запретить картинкам
выпадать за границы
своего блока с
сохранением пропорций */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Доступно скрыть */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Адекватный расчет блоков */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}

/* Сброс браузерных умолчаний */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);

  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: var(--theme-color-1);
  box-shadow: 0 0 20px #bbb;
}

/*------------- Кнопки -------------*/
.btn {
  color: var(--theme-color-1);
  background-color: var(--theme-color-2);
  display: inline-block;

  cursor: pointer;
}

.btn-2 {
  color: var(--theme-color-1);
  background-color: var(--theme-color-3);
  display: inline-block;

  cursor: pointer;
}

/*-----------------------------------
--------------- Шапка ---------------
-----------------------------------*/

.main-navigation > ul {
  position: relative;
  padding: 0;
  margin: 0;

  list-style-type: none;
  font-weight: bold;

  display: flex;
  justify-content: space-around;

  background-color: var(--theme-color-1);
}

.main-navigation li {
  text-align: center;
  min-width: 150px;
}

/* Пространство для логотипа */
.main-navigation li:nth-child(3) {
  margin-right: 138px;
}
.main-navigation li:nth-child(4) {
  margin-left: 138px;
}

/* Логотип в навигации */
.main-navigation ul > li:nth-child(1) {
  width: 138px;
  height: 70px;

  order: 3;
  
  position: absolute;
  left: calc(50% - 69px);
  top: -15px; */
}

.main-navigation a {
  text-decoration: none;
  line-height: 26px;
}
.main-navigation li {
  margin: 15px 0;
}

/* Отступ под основной фон на главной */
.index .main-navigation > ul {
  margin-bottom: 512px;
}
/* Основной фон */
.index {
  background:
    url(../img/button-shape.png) 50% 511px no-repeat scroll,
    url(../img/text-because....png) 50% 405px no-repeat scroll,
    url(../img/text-sedona.png) 50% 270px no-repeat scroll,
    url(../img/dashes.png) 50% 200px no-repeat scroll,
    url(../img/text-to-the-gorgeous.png) 50% 188px no-repeat scroll,
    url(../img/text-welcome.png) 50% 130px no-repeat scroll,
    url(../img/bg-photo.jpg) 0 0 no-repeat scroll;

  background-color: var(--theme-color-1);
}



/*-----------------------------------
-------- Основное содержание --------
-----------------------------------*/

/*------------ Слоган ------------*/

.slogan {
  min-height: 212px;

  padding-top: 56px;
  
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  user-select: none;
  
  background-color: var(--theme-color-1);

  outline: 1px dashed pink;
}

.slogan p {
  padding: 0;
  margin: 0;
  margin-top: 27px;
}

.initiate {
  margin-top: 32px;
  
  font-size: 14px;
  font-weight: normal;
  
  color: #333;
}


/*-------- Блок преимуществ --------*/

.features {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  list-style: none;
}

.features li {
  text-align: center;
}

.features li:not(.services) {
  height: 255px;
  overflow: hidden;
}

.features h3 {
  font-size: 21px;
}

.features p:not(.info p) {
  color: #333;
}

.features .number {
  display: block;
}

.features > .major {
  background-color: var(--theme-color-2);
  color: var(--theme-color-1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features > .major > .info {
  padding: 30px 45px;
}

.features > .major-second {
  flex-direction: row-reverse;
}

.features > .major img {
  width: 800px;
  margin-top: -80px;
}

.features .major .info {
  width: calc(100% / 3);
}

.features > .minor-wrap > ul {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: inherit;
}

.features .minor {
  padding: 30px 60px;
  width: 400px;

  background-color: #eee;
}

.features .services ul {
  display: flex;

  padding: 0;
  margin: 0;
}

.features > .services li {
  padding: 60px;

  width: calc(100% / 3);
  height: 330px;
}

.features svg {
  width: 76px;
  height: 76px;
}


/*---------- Поиск жилья ----------*/

.inn-search {
  min-height: 294px;
  text-align: center;
  border-top: 1px solid transparent;

  position: relative;

  /* outline: 1px dashed red; */
}

.inn-search > .title {
  margin: 0;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 24px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.inn-search > .offer {
  margin: 0;
  padding: 0;

  line-height: 24px;
}

.inn-search > .btn-search {
  position: absolute;
  bottom: 0;
  left: calc(50% - 293px);

  width: 586px;
  height: 87px;

  padding: 31px;

  font-size: 21px;
  line-height: 26px;

  /* outline: 1px dashed green; */
}


/*------- Седона на карте -------*/

.map {
  height: 593px;
  /* background-image: url(../img/map.png); */

  /* outline: 1px dashed green; */
}



/*------------ Подвал ------------*/

.main-footer {
  height: 120px;

  padding: 36px 73px;

  /* Съезд на карту
  на всю величину */
  margin-top: -120px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Едва прозрачный фон (opacity
  делает прозрачными также потомков,
  потому используется альфа-канал) */
  background-color: rgba(255, 255, 255, 0.9);

  /* Создать контекст наложения;
  в static z-index не отработает */
  position: relative;
  z-index: 1;
  /* --------------------------- */

  /* outline: 1px dashed red; */
}

.main-footer > * {
  width: 240px;
  height: 48px;

  /* outline: 1px dashed red; */
}

.main-footer > .visit {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  padding: 10px;
}
.main-footer > .visit a {
  margin-left: 55px;
}

.main-footer > .social {
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  justify-content: center;
}

.main-footer > .social a {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 46px;
  height: 48px;

  margin-right: 6px;

  background-color: var(--theme-color-2);
}

.main-footer > .social > li:last-child > a {
  margin-right: 0;
}

.main-footer > .dev-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-footer > .dev-link a {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 30px;
}

.main-footer > .dev-link svg {
  width: 115px;
  height: 42px;

  margin: 0 5px;
}
